body {
    margin: 0;
    padding: 15px;
    padding-top: 85px;
    color: black;
    font-family: Helvetica, sans;
    font-size: 10pt;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    height: 60px;
    padding-left: 15px;
    width: 100%;
    color: white;
    line-height: 60px;
}
header a {
    color: white;
    text-decoration: none;
}
header h1 {
    margin: 0;
}
.issues {
    position: fixed;
    bottom: 0;
    right: 15px;
    font-size: 12px;
    background: #333;
    color: #ccc;
    text-decoration: none;
    padding: 10px 15px;
}
.issues:hover {
    background: #222;
    text-decoration: underline;
}