.timeline {
    background-color: white;
    position: relative;
    overflow-y: hidden;
    margin: 2em -15px;
    height: 420px;
    cursor: text;
}
.timeline .scales {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    font-size: 12px;
}
.timeline .scales .tick {
    stroke: black;
}
.timeline .scales .bar {
    stroke: black;
}
.timeline .scales .domain {
	fill: none;
	stroke: #333;
	stroke-width: 1px;
}
.timeline .playhead {
	stroke: red;
	stroke-width: 1;
}
.timeline .playhead text {
    stroke: none;
    fill: red;
    font-size: 12px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.timeline .pitch-trace {
	fill: #555;
}
.timeline .waveform .rule {
    stroke: #EAEAEA;
    stroke-width:; 1px;
}
.timeline .waveform .peak {
	fill: #999;
}
.timeline .waveform .rms {
	fill: #777;
}
.timeline .timed-text line {
    stroke: #EEE;
    stroke-width: 1px;
    stroke-dasharray: 5, 5;
    user-select: none;
}
