.download-button, .transcript-input input[type=submit] {
    display: inline-block;
    margin-right: 15px;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    border: solid #ccc 1px;
    background: white;
    font-size: 14px;
}
.download-button:hover, .transcript-input input[type=submit]:hover {
    text-decoration: underline;
}
.download-button:active, .transcript-input input[type=submit]:active {
	background: #EEE;
}
.transcript-input {
	margin: 2em 0;
}
.transcript-input textarea {
	width: 100%;
	max-width: 500px;
	height: 100px;
	display: block;
}
.transcript-input textarea:disabled {
    background: #FAFAFA;
    color: #AAA;
}
.transcript-input input[type=submit] {
	margin-top: 1em;
}
.transcript-input input[type=submit]:disabled:hover {
    text-decoration: underline;
}
.transcript-input input[type=submit]:disabled {
    color: #EEE;
}
.zoom {
    display: inline-block;
    line-height: 2em;
    width: 200px;
    height: 44px;
    background: #eee;
    text-align: center;
    line-height: 45px;
    border: solid #ccc 1px;
    -webkit-user-select: none;
    cursor: col-resize;
    float: right;
    position: relative;
}
.zoom .label {
    cursor: col-resize;
    position: relative;
    z-index: 2;
}
.zoom .indicator {
    height: 100%;
    background: #999;
    position: absolute;
}
.align-error {
    max-width: 500px;
    margin: 1em 0;
    color: red;
}
