<html>
  <head>
    <meta charset="utf-8" />
    <title>drift : view</title>
    <link rel="stylesheet" href="/static/style/app.css">
    <link rel="stylesheet" href="/static/style/timeline.css">
    <link rel="stylesheet" href="/static/style/view.css">
  </head>
  <body>
	<header>
		<h1><a href="/">Drift</a></h1>
	</header>
  	
  	<div id="main"></div>
    <a class="issues" target="_blank" href="https://github.com/maxhawkins/drift/issues/new">Feedback</a>

  	<script>
  	var data = {% raw data %};
  	</script>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>
